{% block header %}
<title> Controlli MeArm - Joystick_Stream</title>

{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='joystick.js') }}"></script>
  <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>

  
  
{% block content %}
<body>
    
        <h1>MeArm Controller</h1>
        
        
        <div id="joystick_zone1" class="joystick_zone_left"></div>

        <div class="middle_zone">
          <div id="imgcontainer", class = "img_container">
            <img src="http://10.17.49.18:8081/">
          </div>
          <div id = "buttonzone", class = "button_zone">
            <button type = 'button' class = 'buttonopen'>Open</button>
            <button type = 'button' class = 'buttonclose'>Close</button>
          </div> 
        </div>

        <div id="joystick_zone2" class="joystick_zone_right"></div>
        

        <script type="text/javascript">

          

          var Joy1 = new JoyStick('joystick_zone1');
          var joy1IinputPosX = document.getElementById("joy1PosizioneX");
          var joy1InputPosY = document.getElementById("joy1PosizioneY");
          var joy1Direzione = document.getElementById("joy1Direzione");
          var joy1X = document.getElementById("joy1X");
          var joy1Y = document.getElementById("joy1Y");
       

          var Joy2 = new JoyStick('joystick_zone2');
          var joy2IinputPosX = document.getElementById("joy2PosizioneX");
          var joy2InputPosY = document.getElementById("joy2PosizioneY");
          var joy2Direzione = document.getElementById("joy2Direzione");
          var joy2X = document.getElementById("joy2X");
          var joy2Y = document.getElementById("joy2Y");
          

          let client = mqtt.connect('wss://x91aff1f.ala.eu-central-1.emqxsl.com:8084/mqtt',{
          username: 'Edoardo',
          password: 'Edoardo',
          clientId: 'Joystick_stream',
          reconnectPeriod: 1000
          });

          client.on('connect', () => {
          console.log('Connected to MQTT broker');
          client.subscribe('testtopic/1');
          client.publish('testtopic/1', 'Connesso a testtopic, client id: Joystick_stream');

          window.addEventListener('load', () => {
            console.log('pagina caricata completamente');
            client.publish('testtopic/1', 'Pagina caricata compeltamente, inizio trasmissione')
            
            setInterval(() => {
              client.publish('testtopic/1', 'Posizione Joystick1, x :' + Joy1.GetX() + ' y :' + Joy1.GetY() + ' Direzione: ' + Joy1.GetDir());
              client.publish('testtopic/1', 'Posizione Joystick2, x :' + Joy2.GetX() + ' y :' + Joy2.GetY() + ' Direzione: ' + Joy2.GetDir());
            }, 5000); 
            
          });
        });

          
          
        </script>
            
</body>
{%endblock%}
</html>